@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
  
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* Scrollbar styling for windows */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-fg);
  border-radius: 3px;
}
